= render partial: 'info'
= render partial: 'slider', locals: { url: analysis_line_chart_time_alive_path }

%h1 Money Raised (1,000,000 USD) vs Time Alive (Days)
%h4= "#{@companies.count} Companies"

%br
%br
#chart

- xs = {}
- columns = []
- @companies.each do |company|
  - xs[company.name] = "#{company.id}_x"
  - funding_rounds = company.funding_rounds.sort_by(&:announced_on).select { |fr| fr.announced_on != nil }
  - total = 0
  - funding_rounds = funding_rounds.map do |fr|
    - [ total += ((fr.money_raised_usd || 0) / 1000), (fr.announced_on - company.founded_on).to_i]
  - columns << ["#{company.id}_x", 0, funding_rounds.map(&:last)].flatten
  - columns << [company.name, 0, funding_rounds.map(&:first)].flatten

:javascript

  var xs = #{xs.to_json}
  var columns = #{columns.to_json}

:coffee

  chart = c3.generate
    size:
      height: 600
    data:
      xs: xs
      columns: columns
    axis:
      x:
        label: 'Time Alive (days)'
        tick:
          fit: false
      y:
        label: 'Money Raised (1,000,000 USD)'
