%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Name
      %th Founded on
      %th Total Money Raised (USD)
      %th Headquarters
      - if current_user.try(:admin?)
        %th{colspan: 4} Actions
      - else
        %th{colspan: 2} Actions

  %tbody
    - companies.each do |company|
      %tr{id: get_html_id(company), class: ('closed' if company.is_closed? || company.is_acquired?) }
        %td{title: company.short_description}= company.name
        %td= company.founded_on.to_s(:simple_date) if company.founded_on
        %td= number_to_currency(company.total_money_raised_usd, precision: 0) if company.total_money_raised_usd
        %td= company.headquarters
        %td= link_to 'Website', company.homepage_url, target: '_blank' unless company.homepage_url.blank?
        %td= link_to 'Show', company
        - if current_user.try(:admin?)
          %td= link_to 'Edit', edit_company_path(company)
          %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }
