
%h1= @company.name
%p
  %b Homepage url:
  = link_to @company.homepage_url, @company.homepage_url, target: '_blank'  unless @company.homepage_url.blank?
%p
  %b Is closed:
  = @company.is_closed?
%p
  %b Short description:
  = @company.short_description
%p
  %b Description:
  = @company.description
%p
  %b Founded on:
  = @company.founded_on
%p
  %b Headquarters:
  = @company.headquarters

%br
%h3= "#{@company.funding_rounds.size} Funding Rounds"
= render partial: 'funding_rounds/table', locals: { funding_rounds: @company.funding_rounds.order_by_most_recent }

%br
%h3= "#{@company.investors.size} Investors"
= render partial: 'investors/table', locals: { investors: @company.investors }

%br
= link_to 'Edit', edit_company_path(@company), class: 'btn btn-default'
= link_to 'Back', companies_path, class: 'btn btn-default'
