%h1 Listing Funding Rounds

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Company Name
      %th Announced On
      %th Money Raised (USD)
      %th Funding Type
      %th Series
      %th{colspan: 3} Actions

  %tbody
    - @funding_rounds.each do |funding_round|
      %tr
        %td= funding_round.company.name
        %td= number_to_currency(funding_round.money_raised_usd, precision: 0) if funding_round.money_raised_usd
        %td= funding_round.announced_on.to_s(:simple_date) if funding_round.announced_on
        %td= funding_round.funding_type
        %td= funding_round.series
        %td= link_to 'Show', funding_round
        %td= link_to 'Edit', edit_funding_round_path(funding_round)
        %td= link_to 'Destroy', funding_round, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Funding round', new_funding_round_path, class: 'btn btn-primary'
