%br
= form_tag investors_path, method: :get, class: 'search-form' do
  = text_field_tag :search, params[:search]
  = submit_tag 'Search', class: 'btn btn-sm btn-default'

%h1= "#{@investors.count} Investors"

- if current_user.try(:admin?)
  = link_to 'New Investor', new_investor_path, class: 'btn btn-primary'
  %br

= will_paginate @investors
= render partial: 'table', locals: { investors: @investors } if @investors.any?
= will_paginate @investors
