!!!
%html
  %head
    %title Job Hunt
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    .container#header
      .row
        .col-sm-12
          #logo.pull-left
            %h1 Job Hunt
          %ul.nav.nav-pills.pull-right
            %li= link_to 'Companies', companies_path
            %li= link_to 'Funding Rounds', funding_rounds_path
            %li= link_to 'Investors', investors_path
            %li= link_to 'Jobs', jobs_path
          .clearfix

    .container
      .row
        .col-sm-12
          - if content_for?(:content)
            = yield(:content)
          - else
            = render 'layouts/flash'
            = yield

    .container#footer
      .row
        .col-sm-12
          .pull-left
            - if current_user
              = link_to 'Sign out', destroy_user_session_path, method: :delete
            - else
              = link_to 'Sign in', new_user_session_path

            &nbsp;
            &nbsp;
            &nbsp;

            Data from
            = link_to 'CrunchBase', 'https://www.crunchbase.com/', target: '_blank'
            and
            = succeed '.' do
              = link_to 'AngelList', 'https://angel.co', target: '_blank'
          .pull-right
            Website by
            = succeed '.' do
              = link_to 'Omar Shammas', 'http://omarshammas.com/', target: '_blank'
